body,
html {
  padding: 0;
  margin: 0;
  background: #eaeaea;
  font-family: "Raleway", sans-serif;
}

.global-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.content {
  width: 800px;
  background: white;
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 20px;
  margin: 10px;
}

#placeholder {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#webgl {
  height: 600px;
}
